<footer id="footer">
  <div class="footer-left">
    <%= __('footer.copyright') %> &copy; 2017 - <%= new Date().getFullYear() %> <%= config.subtitle || config.author %>
    Theme by <a href="https://github.com/probberechts/hexo-theme-cactus">Cactus</a>.
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
